<tr>
	<td style="text-align: right;font-weight: bold;">1</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/1_Thunderclap.jpg" ></td>
	<td>QiYi</td>
	<td>Thunderclap V2 (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20160706" style="text-align: center;">06/07/2016</td>
	<td data-value="20171021" style="text-align: center;">21/10/2017</td>
	<td>lezul</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">2</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/2_QiDi.jpeg" ></td>
	<td>QiYi</td>
	<td>QiDi S (2x2)</td>
	<td style="text-align: right;">8</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20170320" style="text-align: center;">20/03/2017</td>
	<td data-value="20171021" style="text-align: center;">21/10/2017</td>
	<td>lezul</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">3</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/3_Warrior.jpg" ></td>
	<td>QiYi</td>
	<td>Warrior W (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20161213" style="text-align: center;">13/12/2016</td>
	<td data-value="20171027" style="text-align: center;">27/10/2017</td>
	<td>lezul</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">4</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/4_QiYuan.jpg" ></td>
	<td>QiYi</td>
	<td>QiYuan S (4x4)</td>
	<td style="text-align: right;">56</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20170309" style="text-align: center;">09/03/2017</td>
	<td data-value="20171027" style="text-align: center;">27/10/2017</td>
	<td>lezul</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">5</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/5_QiZheng.jpg" ></td>
	<td>QiYi</td>
	<td>QiZheng S (5x5)</td>
	<td style="text-align: right;">98</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20170602" style="text-align: center;">02/06/2017</td>
	<td data-value="20171027" style="text-align: center;">27/10/2017</td>
	<td>lezul</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">6</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/6_QiCheng.jpg" ></td>
	<td>QiYi</td>
	<td>QiCheng Skewb</td>
	<td style="text-align: right;">14</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20161022" style="text-align: center;">22/10/2016</td>
	<td data-value="20171114" style="text-align: center;">14/11/2017</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">7</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/7_QiMing.jpg" ></td>
	<td>QiYi</td>
	<td>QiMing Pyraminx</td>
	<td style="text-align: right;">14</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20161026" style="text-align: center;">26/10/2016</td>
	<td data-value="20171114" style="text-align: center;">14/11/2017</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">8</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/8_Mirror.jpg" ></td>
	<td>QiYi</td>
	<td>Mirror (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20170621" style="text-align: center;">21/06/2017</td>
	<td data-value="20171114" style="text-align: center;">14/11/2017</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">9</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/9_Mastermorphix.jpg" ></td>
	<td>QiYi</td>
	<td>Mastermorphix (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
	<td data-value="20170421" style="text-align: center;">21/04/2017</td>
	<td data-value="20171114" style="text-align: center;">14/11/2017</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">10</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/10_QiHeng.jpg" ></td>
	<td>QiYi</td>
	<td>QiHeng S Megaminx (Sculpted)</td>
	<td style="text-align: right;">62</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20170615" style="text-align: center;">15/06/2017</td>
	<td data-value="20171114" style="text-align: center;">14/11/2017</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">11</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/11_Kilominx.jpg" ></td>
	<td>FanXin</td>
	<td>Kilominx</td>
	<td style="text-align: right;">32</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20171018" style="text-align: center;">18/10/2017</td>
	<td data-value="20171219" style="text-align: center;">19/12/2017</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">12</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/12_356AirS.jpg" ></td>
	<td>Gan</td>
	<td>GAN356 AirS (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20171024" style="text-align: center;">24/10/2017</td>
	<td data-value="20171219" style="text-align: center;">19/12/2017</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">13</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/13_Gigaminx.jpg" ></td>
	<td>ShengShou</td>
	<td>Gigaminx</td>
	<td style="text-align: right;">242</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20160109" style="text-align: center;">09/01/2016</td>
	<td data-value="20180105" style="text-align: center;">05/01/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">14</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/14_Inequilateral.jpg" ></td>
	<td>YongJun</td>
	<td>Unequal Inequilateral (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20160209" style="text-align: center;">09/02/2016</td>
	<td data-value="20180105" style="text-align: center;">05/01/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">15</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/15_Fisher.jpg" ></td>
	<td>YongJun</td>
	<td>Fisher YiLeng V2 (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20160427" style="text-align: center;">27/04/2016</td>
	<td data-value="20180105" style="text-align: center;">05/01/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">16</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/16_Axis.jpg" ></td>
	<td>YongJun</td>
	<td>Axis KingKong V2 (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20160527" style="text-align: center;">27/05/2016</td>
	<td data-value="20180105" style="text-align: center;">05/01/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">17</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/17_Windmill.jpg" ></td>
	<td>YongJun</td>
	<td>Windmill FengHuoLun V2 (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20160601" style="text-align: center;">01/06/2016</td>
	<td data-value="20180105" style="text-align: center;">05/01/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">18</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/18_MasKilominx.jpg" ></td>
	<td>ShengShou</td>
	<td>Master Kilominx</td>
	<td style="text-align: right;">140</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20160823" style="text-align: center;">23/08/2016</td>
	<td data-value="20180105" style="text-align: center;">05/01/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">19</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/19_Pyramorphix.jpg" ></td>
	<td>ShengShou</td>
	<td>Pillowed Pyramorphix</td>
	<td style="text-align: right;">8</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20160901" style="text-align: center;">01/09/2016</td>
	<td data-value="20180105" style="text-align: center;">05/01/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">20</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/20_Mirror.jpg" ></td>
	<td>ShengShou</td>
	<td>Mirror (2x2)</td>
	<td style="text-align: right;">8</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20161114" style="text-align: center;">14/11/2016</td>
	<td data-value="20180105" style="text-align: center;">05/01/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">21</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/21_Megamorphix.jpg" ></td>
	<td>ShengShou</td>
	<td>Megamorphix</td>
	<td style="text-align: right;">56</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
	<td data-value="20170503" style="text-align: center;">03/05/2017</td>
	<td data-value="20180105" style="text-align: center;">05/01/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">22</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/22_Gigamorphix.jpg" ></td>
	<td>ShengShou</td>
	<td>Gigamorphix</td>
	<td style="text-align: right;">98</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
	<td data-value="20170531" style="text-align: center;">31/05/2017</td>
	<td data-value="20180105" style="text-align: center;">05/01/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">23</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/23_LittleMagic.jpg" ></td>
	<td>YuXin</td>
	<td>LittleMagic (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20170826" style="text-align: center;">26/08/2017</td>
	<td data-value="20180105" style="text-align: center;">05/01/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">24</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/24_LittleMagic.jpg" ></td>
	<td>YuXin</td>
	<td>LittleMagic (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20170826" style="text-align: center;">26/08/2017</td>
	<td data-value="20180105" style="text-align: center;">05/01/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">25</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/25_penrose.jpg" ></td>
	<td>Z-Cube</td>
	<td>Penrose (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20170919" style="text-align: center;">19/09/2017</td>
	<td data-value="20180208" style="text-align: center;">08/02/2018</td>
	<td>lightake</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">26</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/26_Kilominx.jpg" ></td>
	<td>ShengShou</td>
	<td>Kilominx</td>
	<td style="text-align: right;">20</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20160703" style="text-align: center;">03/07/2016</td>
	<td data-value="20180213" style="text-align: center;">13/02/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">27</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/27_WeiLongGTSM.jpg" ></td>
	<td>MoYu</td>
	<td>WeiLong GTS 2M (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20170512" style="text-align: center;">12/05/2017</td>
	<td data-value="20180213" style="text-align: center;">13/02/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">28</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/28_356AirSM.jpg" ></td>
	<td>Gan</td>
	<td>GAN356 AirSM (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20170915" style="text-align: center;">15/09/2017</td>
	<td data-value="20180213" style="text-align: center;">13/02/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">29</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/29_YueXiaoPROM.jpg" ></td>
	<td>MoYu</td>
	<td>GuoGuan YueXiao Pro M (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20171023" style="text-align: center;">23/10/2017</td>
	<td data-value="20180213" style="text-align: center;">13/02/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">30</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/30_Valk3PowerM.jpg" ></td>
	<td>QiYi</td>
	<td>Valk3 Power M (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20171126" style="text-align: center;">26/11/2017</td>
	<td data-value="20180213" style="text-align: center;">13/02/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">31</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/31_FeiJueM.jpg" ></td>
	<td>CycloneBoys</td>
	<td>FeiJue M (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20180125" style="text-align: center;">25/01/2018</td>
	<td data-value="20180213" style="text-align: center;">13/02/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">32</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/32_Fisher4.jpg" ></td>
	<td>MoYu</td>
	<td>AoSu Fisher YiLeng (4x4)</td>
	<td style="text-align: right;">56</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20140515" style="text-align: center;">15/05/2014</td>
	<td data-value="20180307" style="text-align: center;">07/03/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">33</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/33_Windmill.jpg" ></td>
	<td>MoYu</td>
	<td>AoSu Windmill FengHuoLun (4x4)</td>
	<td style="text-align: right;">56</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20150413" style="text-align: center;">13/04/2015</td>
	<td data-value="20180307" style="text-align: center;">07/03/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">34</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/34_Axis4.jpg" ></td>
	<td>MoYu</td>
	<td>AoSu Axis KingKong (4x4)</td>
	<td style="text-align: right;">56</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
	<td data-value="20151228" style="text-align: center;">28/12/2015</td>
	<td data-value="20180307" style="text-align: center;">07/03/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">35</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/35_superPochman3.jpg" ></td>
	<td>ShengShou</td>
	<td>Legend (3x3) [restickered]</td>
	<td style="text-align: right;">26</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20160325" style="text-align: center;">25/03/2016</td>
	<td data-value="20180322" style="text-align: center;">22/03/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">36</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/36_shepherds.jpg" ></td>
	<td>ShengShou</td>
	<td>Legend (3x3) [restickered]</td>
	<td style="text-align: right;">26</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
	<td data-value="20160325" style="text-align: center;">25/03/2016</td>
	<td data-value="20180322" style="text-align: center;">22/03/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">37</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/37_superPochman5.jpg" ></td>
	<td>ShengShou</td>
	<td>Legend (5x5) [restickered]</td>
	<td style="text-align: right;">98</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
	<td data-value="20170626" style="text-align: center;">26/06/2017</td>
	<td data-value="20180403" style="text-align: center;">03/04/2018</td>
	<td>kubekings</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">38</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/38_Ghost2.jpg" ></td>
	<td>FangGe</td>
	<td>LimCube Ghost (2x2)</td>
	<td style="text-align: right;">8</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
	<td data-value="20160819" style="text-align: center;">19/08/2016</td>
	<td data-value="20180403" style="text-align: center;">03/04/2018</td>
	<td>kubekings</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">39</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/39_Ghost.jpg" ></td>
	<td>FangGe</td>
	<td>Walker Ghost Cube (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="3" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>
	<td data-value="20151129" style="text-align: center;">29/11/2015</td>
	<td data-value="20180410" style="text-align: center;">10/04/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">40</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/40_superPochman4.jpg" ></td>
	<td>ShengShou</td>
	<td>Legend (4x4) [restickered]</td>
	<td style="text-align: right;">56</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20170512" style="text-align: center;">12/05/2017</td>
	<td data-value="20180410" style="text-align: center;">10/04/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">41</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/41_sailTrans.jpg" ></td>
	<td>QiYi</td>
	<td>Sail 6.0 (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20180404" style="text-align: center;">04/04/2018</td>
	<td data-value="20180521" style="text-align: center;">21/05/2018</td>
	<td>lightake</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">42</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/42_starrySkyGhost.jpg" ></td>
	<td>Ninja</td>
	<td>Starry Sky Ghost</td>
	<td style="text-align: right;">26</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20180324" style="text-align: center;">24/03/2018</td>
	<td data-value="20180521" style="text-align: center;">21/05/2018</td>
	<td>lightake</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">43</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/43_unequalFisher.jpg" ></td>
	<td>MoYu</td>
	<td>Unequal Fisher (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20180501" style="text-align: center;">01/05/2018</td>
	<td data-value="20180521" style="text-align: center;">21/05/2018</td>
	<td>lightake</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">44</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/44_unequalWindmill.jpg" ></td>
	<td>MoYu</td>
	<td>Unequal Windmill (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20180502" style="text-align: center;">02/05/2018</td>
	<td data-value="20180521" style="text-align: center;">21/05/2018</td>
	<td>lightake</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">45</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/45_dice.jpg" ></td>
	<td>MoYu</td>
	<td>Dice (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20170728" style="text-align: center;">28/07/2017</td>
	<td data-value="20180523" style="text-align: center;">23/05/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">46</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/46_Valk3Mini.jpg" ></td>
	<td>QiYi</td>
	<td>Mini Valk3 (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20170906" style="text-align: center;">06/09/2017</td>
	<td data-value="20180523" style="text-align: center;">23/05/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">47</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/47_QiXing.jpg" ></td>
	<td>QiYi</td>
	<td>QiXing S (7x7)</td>
	<td style="text-align: right;">218</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20180416" style="text-align: center;">16/04/2018</td>
	<td data-value="20180523" style="text-align: center;">23/05/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">48</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/48_Fidget.jpg" ></td>
	<td>QiYi</td>
	<td>Spinner (1x1x3)</td>
	<td style="text-align: right;">9</td>
	<td data-value="0.5" style="text-align: center;"><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20180424" style="text-align: center;">24/04/2018</td>
	<td data-value="20180523" style="text-align: center;">23/05/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">49</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/49_Windmill.jpg" ></td>
	<td>Lefun</td>
	<td>Hollow Sticker Windmill (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20180615" style="text-align: center;">15/06/2018</td>
	<td data-value="20180802" style="text-align: center;">02/08/2018</td>
	<td>kubekings</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">50</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/50_Axis.jpg" ></td>
	<td>Lefun</td>
	<td>Hollow Sticker Axis (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20180615" style="text-align: center;">15/06/2018</td>
	<td data-value="20180802" style="text-align: center;">02/08/2018</td>
	<td>kubekings</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">51</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/51_Fisher.jpg" ></td>
	<td>Lefun</td>
	<td>Hollow Sticker Fisher (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20180615" style="text-align: center;">15/06/2018</td>
	<td data-value="20180802" style="text-align: center;">02/08/2018</td>
	<td>kubekings</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">52</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/52_Cube.jpg" ></td>
	<td>Lefun</td>
	<td>Hollow Sticker Cube (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20180615" style="text-align: center;">15/06/2018</td>
	<td data-value="20180802" style="text-align: center;">02/08/2018</td>
	<td>kubekings</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">53</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/53_ninjaGhost.jpg" ></td>
	<td>Ninja</td>
	<td>Ghost Cube (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20160525" style="text-align: center;">25/05/2016</td>
	<td data-value="20180802" style="text-align: center;">02/08/2018</td>
	<td>kubekings</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">54</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/54_flat.jpg" ></td>
	<td>HelloCube</td>
	<td>Flat (2x2)</td>
	<td style="text-align: right;">8</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20161128" style="text-align: center;">28/11/2016</td>
	<td data-value="20180802" style="text-align: center;">02/08/2018</td>
	<td>kubekings</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">55</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/55_mirror2.jpg" ></td>
	<td>HelloCube</td>
	<td>Mirror (2x2)</td>
	<td style="text-align: right;">8</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20170213" style="text-align: center;">13/02/2017</td>
	<td data-value="20180802" style="text-align: center;">02/08/2018</td>
	<td>kubekings</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">56</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/56_axis.jpg" ></td>
	<td>Z-Cube</td>
	<td>Axis (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20170505" style="text-align: center;">05/05/2017</td>
	<td data-value="20180802" style="text-align: center;">02/08/2018</td>
	<td>kubekings</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">57</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/57_carbon2.jpg" ></td>
	<td>Z-Cube</td>
	<td>Carbon Fiber (2x2)</td>
	<td style="text-align: right;">8</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20170402" style="text-align: center;">02/04/2017</td>
	<td data-value="20180802" style="text-align: center;">02/08/2018</td>
	<td>kubekings</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">58</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/58_Mastermorphix.jpg" ></td>
	<td>QiYi</td>
	<td>Mastermorphix (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
	<td data-value="20180619" style="text-align: center;">19/06/2018</td>
	<td data-value="20180813" style="text-align: center;">13/08/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">59</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/59_Twisty.jpg" ></td>
	<td>FanXin</td>
	<td>Twisty (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20180530" style="text-align: center;">30/05/2018</td>
	<td data-value="20180813" style="text-align: center;">13/08/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">60</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/60_infinity.jpg" ></td>
	<td>ShengShou</td>
	<td>Crazy infinity cube</td>
	<td style="text-align: right;">8</td>
	<td data-value="0" style="text-align: center;"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20170725" style="text-align: center;">25/07/2017</td>
	<td data-value="20180813" style="text-align: center;">13/08/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">61</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/61_Trihedron.jpg" ></td>
	<td>Others</td>
	<td>Trihedron (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20180520" style="text-align: center;">20/05/2018</td>
	<td data-value="20180813" style="text-align: center;">13/08/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">62</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/62_Axis.jpg" ></td>
	<td>MoYu</td>
	<td>Axis KingKong (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20180619" style="text-align: center;">19/06/2018</td>
	<td data-value="20180813" style="text-align: center;">13/08/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">63</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/63_Pandora.jpg" ></td>
	<td>MoYu</td>
	<td>Pandora (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20180803" style="text-align: center;">03/08/2018</td>
	<td data-value="20180813" style="text-align: center;">13/08/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">64</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/64_Pyramid.jpg" ></td>
	<td>QiYi</td>
	<td>Master Pyraminx</td>
	<td style="text-align: right;">30</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20180710" style="text-align: center;">10/07/2018</td>
	<td data-value="20180813" style="text-align: center;">13/08/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">65</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/65_skewbUltimate.jpg" ></td>
	<td>Meffert</td>
	<td>Skewb Ultimate</td>
	<td style="text-align: right;">14</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20150903" style="text-align: center;">03/09/2015</td>
	<td data-value="20180808" style="text-align: center;">08/08/2018</td>
	<td>kubekings</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">66</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/66_skewbXtreme.jpg" ></td>
	<td>Meffert</td>
	<td>Skewb Xtreme</td>
	<td style="text-align: right;">14</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20160413" style="text-align: center;">13/04/2016</td>
	<td data-value="20180808" style="text-align: center;">08/08/2018</td>
	<td>kubekings</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">67</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/67_skewbDiamond.jpg" ></td>
	<td>Meffert</td>
	<td>Skewb Diamond</td>
	<td style="text-align: right;">14</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20160313" style="text-align: center;">13/03/2016</td>
	<td data-value="20180808" style="text-align: center;">08/08/2018</td>
	<td>kubekings</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">68</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/68_Octahedron.jpg" ></td>
	<td>LanLan</td>
	<td>Octahedron</td>
	<td style="text-align: right;">42</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20141120" style="text-align: center;">20/11/2014</td>
	<td data-value="20180808" style="text-align: center;">08/08/2018</td>
	<td>kubekings</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">69</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/69_venus.jpg" ></td>
	<td>Meffert</td>
	<td>Venus Cube (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20150426" style="text-align: center;">26/04/2015</td>
	<td data-value="20180808" style="text-align: center;">08/08/2018</td>
	<td>kubekings</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">70</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/70_ghostHedgehog.jpg" ></td>
	<td>Meffert</td>
	<td>Ghost Hedgehog Silver Metalized (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
	<td data-value="20160324" style="text-align: center;">24/03/2016</td>
	<td data-value="20180817" style="text-align: center;">17/08/2018</td>
	<td>mefferts</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">71</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/71_MetalisedEgg3.jpg" ></td>
	<td>Meffert</td>
	<td>Metalized Egg No.4 (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
	<td data-value="20150729" style="text-align: center;">29/07/2015</td>
	<td data-value="20180817" style="text-align: center;">17/08/2018</td>
	<td>mefferts</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">72</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/72_Dodecahedron.jpg" ></td>
	<td>LanLan</td>
	<td>Dodecahedron (2x2)</td>
	<td style="text-align: right;">8</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20150711" style="text-align: center;">11/07/2015</td>
	<td data-value="20180821" style="text-align: center;">21/08/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">73</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/73_SkewbRhombicD.jpg" ></td>
	<td>LanLan</td>
	<td>Skewb Rhombic Dodecahedron</td>
	<td style="text-align: right;">14</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20140318" style="text-align: center;">18/03/2014</td>
	<td data-value="20180821" style="text-align: center;">21/08/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">74</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/74_Rex.jpg" ></td>
	<td>LanLan</td>
	<td>Rex</td>
	<td style="text-align: right;">42</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20130810" style="text-align: center;">10/08/2013</td>
	<td data-value="20180821" style="text-align: center;">21/08/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">75</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/75_Mixup.jpg" ></td>
	<td>WitEden</td>
	<td>Mixup (3x3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20140614" style="text-align: center;">14/06/2014</td>
	<td data-value="20180821" style="text-align: center;">21/08/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">76</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/76_Gem5.jpg" ></td>
	<td>DaYan</td>
	<td>Gem V5</td>
	<td style="text-align: right;">32</td>
	<td data-value="3" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>
	<td data-value="20141012" style="text-align: center;">12/10/2014</td>
	<td data-value="20180821" style="text-align: center;">21/08/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">77</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/77_Pyramid.jpg" ></td>
	<td>ShengShou</td>
	<td>Pyramorphix</td>
	<td style="text-align: right;">8</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20150929" style="text-align: center;">29/09/2015</td>
	<td data-value="20180821" style="text-align: center;">21/08/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">78</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/78_SkewbCurvy.jpg" ></td>
	<td>LanLan</td>
	<td>Skewb Curvy Rhombohedron</td>
	<td style="text-align: right;">14</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
	<td data-value="20131230" style="text-align: center;">30/12/2013</td>
	<td data-value="20180821" style="text-align: center;">21/08/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">79</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/79_SkewbGhost.jpg" ></td>
	<td>FangGe</td>
	<td>Skewb Ghost</td>
	<td style="text-align: right;">14</td>
	<td data-value="3" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>
	<td data-value="20171018" style="text-align: center;">18/10/2017</td>
	<td data-value="20180821" style="text-align: center;">21/08/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">80</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/80_Dino.jpg" ></td>
	<td>ShengShou</td>
	<td>Dino</td>
	<td style="text-align: right;">12</td>
	<td data-value="0.5" style="text-align: center;"><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20171026" style="text-align: center;">26/10/2017</td>
	<td data-value="20180821" style="text-align: center;">21/08/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">81</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/81_caseCube.jpg" ></td>
	<td>DianSheng</td>
	<td>Case Cube</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20140115" style="text-align: center;">15/01/2014</td>
	<td data-value="20180813" style="text-align: center;">13/08/2018</td>
	<td>lezul</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">82</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/82_dianshengBlade.jpg" ></td>
	<td>DianSheng</td>
	<td>Blade</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20130811" style="text-align: center;">11/08/2013</td>
	<td data-value="20180813" style="text-align: center;">13/08/2018</td>
	<td>lezul</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">83</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/83_hexagonalShield.jpg" ></td>
	<td>DianSheng</td>
	<td>Shield</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20140303" style="text-align: center;">03/03/2014</td>
	<td data-value="20180813" style="text-align: center;">13/08/2018</td>
	<td>lezul</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">84</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/84_HexagonalDipyramid.jpg" ></td>
	<td>DianSheng</td>
	<td>Hexagonal Dipyramid (3X3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20131230" style="text-align: center;">30/12/2013</td>
	<td data-value="20180813" style="text-align: center;">13/08/2018</td>
	<td>lezul</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">85</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/85_4Corner.jpg" ></td>
	<td>DianSheng</td>
	<td>4-Corner Hexagonal Dipyramid (3X3)</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20140303" style="text-align: center;">03/03/2014</td>
	<td data-value="20180813" style="text-align: center;">13/08/2018</td>
	<td>lezul</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">86</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/86_UFO.jpg" ></td>
	<td>DianSheng</td>
	<td>UFO</td>
	<td style="text-align: right;">26</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20140115" style="text-align: center;">15/01/2014</td>
	<td data-value="20180813" style="text-align: center;">13/08/2018</td>
	<td>lezul</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">87</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/87_HexagonalDipyramid4.jpg" ></td>
	<td>DianSheng</td>
	<td>Hexagonal Dipyramid (4X4)</td>
	<td style="text-align: right;">56</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20140123" style="text-align: center;">23/01/2014</td>
	<td data-value="20180813" style="text-align: center;">13/08/2018</td>
	<td>lezul</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">88</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/88_MegaminxBall.jpg" ></td>
	<td>Calvin</td>
	<td>Traiphum Megaminx Ball</td>
	<td style="text-align: right;">62</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20140306" style="text-align: center;">06/03/2014</td>
	<td data-value="20180831" style="text-align: center;">31/08/2018</td>
	<td>mefferts</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">89</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/89_Master Skewb.jpg" ></td>
	<td>LanLan</td>
	<td>Master Skewb</td>
	<td style="text-align: right;">50</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
	<td data-value="20130815" style="text-align: center;">15/08/2013</td>
	<td data-value="20180906" style="text-align: center;">06/09/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">90</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/90_CurvyCopter.jpg" ></td>
	<td>LanLan</td>
	<td>Curvy Copter</td>
	<td style="text-align: right;">44</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20130823" style="text-align: center;">23/08/2013</td>
	<td data-value="20180906" style="text-align: center;">06/09/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">91</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/91_332.jpg" ></td>
	<td>LanLan</td>
	<td>3x3x2</td>
	<td style="text-align: right;">18</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20130920" style="text-align: center;">20/09/2013</td>
	<td data-value="20180906" style="text-align: center;">06/09/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">92</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/92_339II.jpg" ></td>
	<td>WitEden</td>
	<td>3x3x9 II</td>
	<td style="text-align: right;">78</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20140221" style="text-align: center;">21/02/2014</td>
	<td data-value="20180906" style="text-align: center;">06/09/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">93</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/93_DinoSkewb.jpg" ></td>
	<td>DaYan</td>
	<td>Dino Skewb</td>
	<td style="text-align: right;">28</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
	<td data-value="20140711" style="text-align: center;">11/07/2014</td>
	<td data-value="20180906" style="text-align: center;">06/09/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">94</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/94_Tangram.jpg" ></td>
	<td>DaYan</td>
	<td>Tangram</td>
	<td style="text-align: right;">20</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
	<td data-value="20160923" style="text-align: center;">23/09/2016</td>
	<td data-value="20180906" style="text-align: center;">06/09/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">95</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/95_223.jpg" ></td>
	<td>QiYi</td>
	<td>2x2x3</td>
	<td style="text-align: right;">12</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20170712" style="text-align: center;">12/07/2017</td>
	<td data-value="20180906" style="text-align: center;">06/09/2018</td>
	<td>zcube</td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">96</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/96_CurvyMosaic.jpg" ></td>
	<td>LanLan</td>
	<td>Curvy Mosaic</td>
	<td style="text-align: right;">44</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
	<td data-value="20180608" style="text-align: center;">08/06/2018</td>
	<td data-value="20180906" style="text-align: center;">06/09/2018</td>
	<td>zcube</td>
</tr>
