<tr>
	<td style="text-align: right;font-weight: bold;">1</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/1_Thunderclap.jpg" ></td>
	<td>QiYi</td>
	<td>Thunderclap V2 (3x3)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2016</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">2</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/2_QiDi.jpeg" ></td>
	<td>QiYi</td>
	<td>QiDi S (2x2)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">8</td>
	<td style="text-align: right;">2017</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">3</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/3_Warrior.jpg" ></td>
	<td>QiYi</td>
	<td>Warrior W (3x3)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2016</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">4</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/4_QiYuan.jpg" ></td>
	<td>QiYi</td>
	<td>QiYuan S (4x4)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">56</td>
	<td style="text-align: right;">2017</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">5</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/5_QiZheng.jpg" ></td>
	<td>QiYi</td>
	<td>QiZheng S (5x5)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">98</td>
	<td style="text-align: right;">2017</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">6</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/6_QiCheng.jpg" ></td>
	<td>QiYi</td>
	<td>QiCheng Skewb</td>
	<td>Skewb</td>
	<td style="text-align: right;">14</td>
	<td style="text-align: right;">2016</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">7</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/7_QiMing.jpg" ></td>
	<td>QiYi</td>
	<td>QiMing Pyraminx</td>
	<td>Minx</td>
	<td style="text-align: right;">14</td>
	<td style="text-align: right;">2016</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">8</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/8_Mirror.jpg" ></td>
	<td>QiYi</td>
	<td>Mirror (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2017</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">9</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/9_Mastermorphix.jpg" ></td>
	<td>QiYi</td>
	<td>Mastermorphix (3x3)</td>
	<td>Morphix</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2017</td>
	<td data-value="2.49" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">10</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/10_QiHeng.jpg" ></td>
	<td>QiYi</td>
	<td>QiHeng S Megaminx (Sculpted)</td>
	<td>Minx</td>
	<td style="text-align: right;">62</td>
	<td style="text-align: right;">2017</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">11</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/11_Kilominx.jpg" ></td>
	<td>FanXin</td>
	<td>Kilominx</td>
	<td>Minx</td>
	<td style="text-align: right;">32</td>
	<td style="text-align: right;">2017</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">12</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/12_356AirS.jpg" ></td>
	<td>Gan</td>
	<td>GAN356 AirS (3x3)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2017</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">13</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/13_Gigaminx.jpg" ></td>
	<td>ShengShou</td>
	<td>Gigaminx</td>
	<td>Minx</td>
	<td style="text-align: right;">242</td>
	<td style="text-align: right;">2016</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">14</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/14_Inequilateral.jpg" ></td>
	<td>YongJun</td>
	<td>Unequal Inequilateral (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2016</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">15</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/15_Fisher.jpg" ></td>
	<td>YongJun</td>
	<td>Fisher YiLeng V2 (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2016</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">16</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/16_Axis.jpg" ></td>
	<td>YongJun</td>
	<td>Axis KingKong V2 (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2016</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">17</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/17_Windmill.jpg" ></td>
	<td>YongJun</td>
	<td>Windmill FengHuoLun V2 (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2016</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">18</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/18_MasKilominx.jpg" ></td>
	<td>ShengShou</td>
	<td>Master Kilominx</td>
	<td>Minx</td>
	<td style="text-align: right;">140</td>
	<td style="text-align: right;">2016</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">19</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/19_Pyramorphix.jpg" ></td>
	<td>ShengShou</td>
	<td>Pillowed Pyramorphix</td>
	<td>Morphix</td>
	<td style="text-align: right;">8</td>
	<td style="text-align: right;">2016</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">20</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/20_Mirror.jpg" ></td>
	<td>ShengShou</td>
	<td>Mirror (2x2)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">8</td>
	<td style="text-align: right;">2016</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">21</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/21_Megamorphix.jpg" ></td>
	<td>ShengShou</td>
	<td>Megamorphix</td>
	<td>Morphix</td>
	<td style="text-align: right;">56</td>
	<td style="text-align: right;">2017</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">22</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/22_Gigamorphix.jpg" ></td>
	<td>ShengShou</td>
	<td>Gigamorphix</td>
	<td>Morphix</td>
	<td style="text-align: right;">98</td>
	<td style="text-align: right;">2017</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">23</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/23_LittleMagic.jpg" ></td>
	<td>YuXin</td>
	<td>LittleMagic (3x3)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2017</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">24</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/24_LittleMagic.jpg" ></td>
	<td>YuXin</td>
	<td>LittleMagic (3x3)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2017</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">25</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/25_penrose.jpg" ></td>
	<td>Z-Cube</td>
	<td>Penrose (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2017</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">26</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/26_Kilominx.jpg" ></td>
	<td>ShengShou</td>
	<td>Kilominx</td>
	<td>Minx</td>
	<td style="text-align: right;">20</td>
	<td style="text-align: right;">2016</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">27</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/27_WeiLongGTSM.jpg" ></td>
	<td>MoYu</td>
	<td>WeiLong GTS 2M (3x3)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2017</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">28</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/28_356AirSM.jpg" ></td>
	<td>Gan</td>
	<td>GAN356 AirSM (3x3)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2017</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">29</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/29_YueXiaoPROM.jpg" ></td>
	<td>MoYu</td>
	<td>GuoGuan YueXiao Pro M (3x3)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2017</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">30</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/30_Valk3PowerM.jpg" ></td>
	<td>QiYi</td>
	<td>Valk3 Power M (3x3)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2017</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">31</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/31_FeiJueM.jpg" ></td>
	<td>CycloneBoys</td>
	<td>FeiJue M (3x3)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2018</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">32</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/32_Fisher4.jpg" ></td>
	<td>MoYu</td>
	<td>AoSu Fisher YiLeng (4x4)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">56</td>
	<td style="text-align: right;">2014</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">33</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/33_Windmill.jpg" ></td>
	<td>MoYu</td>
	<td>AoSu Windmill FengHuoLun (4x4)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">56</td>
	<td style="text-align: right;">2015</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">34</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/34_Axis4.jpg" ></td>
	<td>MoYu</td>
	<td>AoSu Axis KingKong (4x4)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">56</td>
	<td style="text-align: right;">2015</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">35</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/35_superPochman3.jpg" ></td>
	<td>ShengShou</td>
	<td>Legend (3x3) [Super Pochmann]</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2016</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">36</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/36_shepherds.jpg" ></td>
	<td>ShengShou</td>
	<td>Legend (3x3) [Shepherd]</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2016</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">37</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/37_superPochman5.jpg" ></td>
	<td>ShengShou</td>
	<td>Legend (5x5) [Super Pochmann]</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">98</td>
	<td style="text-align: right;">2017</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">38</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/38_Ghost2.jpg" ></td>
	<td>FangGe</td>
	<td>LimCube Ghost (2x2)</td>
	<td>Ghost</td>
	<td style="text-align: right;">8</td>
	<td style="text-align: right;">2016</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">39</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/39_Ghost.jpg" ></td>
	<td>FangGe</td>
	<td>Walker Ghost Cube (3x3)</td>
	<td>Ghost</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2015</td>
	<td data-value="3" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">40</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/40_superPochman4.jpg" ></td>
	<td>ShengShou</td>
	<td>Legend (4x4) [Super Pochmann]</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">56</td>
	<td style="text-align: right;">2017</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">41</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/41_sailTrans.jpg" ></td>
	<td>QiYi</td>
	<td>Sail 6.0 (3x3)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2018</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">42</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/42_starrySkyGhost.jpg" ></td>
	<td>Ninja</td>
	<td>Starry Sky Ghost</td>
	<td>Ghost</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2018</td>
	<td data-value="2.1" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">43</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/43_unequalFisher.jpg" ></td>
	<td>MoYu</td>
	<td>Unequal Fisher (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2018</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">44</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/44_unequalWindmill.jpg" ></td>
	<td>MoYu</td>
	<td>Unequal Windmill (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2018</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">45</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/45_dice.jpg" ></td>
	<td>MoYu</td>
	<td>Dice (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2017</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">46</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/46_Valk3Mini.jpg" ></td>
	<td>QiYi</td>
	<td>Mini Valk3 (3x3)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2017</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">47</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/47_QiXing.jpg" ></td>
	<td>QiYi</td>
	<td>QiXing S (7x7)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">218</td>
	<td style="text-align: right;">2018</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">48</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/48_Fidget.jpg" ></td>
	<td>QiYi</td>
	<td>Spinner (1x1x3)</td>
	<td>Cuboid</td>
	<td style="text-align: right;">9</td>
	<td style="text-align: right;">2018</td>
	<td data-value="0.5" style="text-align: center;"><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">49</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/49_Windmill.jpg" ></td>
	<td>Lefun</td>
	<td>Hollow Sticker Windmill (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2018</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">50</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/50_Axis.jpg" ></td>
	<td>Lefun</td>
	<td>Hollow Sticker Axis (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2018</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">51</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/51_Fisher.jpg" ></td>
	<td>Lefun</td>
	<td>Hollow Sticker Fisher (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2018</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">52</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/52_Cube.jpg" ></td>
	<td>Lefun</td>
	<td>Hollow Sticker Cube (3x3)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2018</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">53</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/53_ninjaGhost.jpg" ></td>
	<td>Ninja</td>
	<td>Ghost Cube (3x3)</td>
	<td>Ghost</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2016</td>
	<td data-value="2.1" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">54</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/54_flat.jpg" ></td>
	<td>HelloCube</td>
	<td>Flat (2x2)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">8</td>
	<td style="text-align: right;">2016</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">55</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/55_mirror2.jpg" ></td>
	<td>HelloCube</td>
	<td>Mirror (2x2)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">8</td>
	<td style="text-align: right;">2017</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">56</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/56_axis.jpg" ></td>
	<td>Z-Cube</td>
	<td>Axis (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2017</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">57</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/57_carbon2.jpg" ></td>
	<td>Z-Cube</td>
	<td>Carbon Fiber (2x2)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">8</td>
	<td style="text-align: right;">2017</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">58</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/58_Mastermorphix.jpg" ></td>
	<td>QiYi</td>
	<td>Mastermorphix (3x3)</td>
	<td>Morphix</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2018</td>
	<td data-value="2.49" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">59</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/59_Twisty.jpg" ></td>
	<td>FanXin</td>
	<td>Twisty (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2018</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">60</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/60_infinity.jpg" ></td>
	<td>ShengShou</td>
	<td>Crazy infinity cube</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">8</td>
	<td style="text-align: right;">2017</td>
	<td data-value="0" style="text-align: center;"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">61</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/61_Trihedron.jpg" ></td>
	<td>Others</td>
	<td>Trihedron (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2018</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">62</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/62_Axis.jpg" ></td>
	<td>MoYu</td>
	<td>Axis KingKong (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2018</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">63</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/63_Pandora.jpg" ></td>
	<td>MoYu</td>
	<td>Pandora (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2018</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">64</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/64_Pyramid.jpg" ></td>
	<td>QiYi</td>
	<td>Master Pyraminx</td>
	<td>Minx</td>
	<td style="text-align: right;">30</td>
	<td style="text-align: right;">2018</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">65</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/65_skewbUltimate.jpg" ></td>
	<td>Meffert</td>
	<td>Skewb Ultimate</td>
	<td>Skewb</td>
	<td style="text-align: right;">14</td>
	<td style="text-align: right;">2015</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">66</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/66_skewbXtreme.jpg" ></td>
	<td>Meffert</td>
	<td>Skewb Xtreme</td>
	<td>Skewb</td>
	<td style="text-align: right;">14</td>
	<td style="text-align: right;">2016</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">67</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/67_skewbDiamond.jpg" ></td>
	<td>Meffert</td>
	<td>Skewb Diamond</td>
	<td>Skewb</td>
	<td style="text-align: right;">14</td>
	<td style="text-align: right;">2016</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">68</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/68_Octahedron.jpg" ></td>
	<td>LanLan</td>
	<td>Face Turning Octahedron</td>
	<td>Face Turning</td>
	<td style="text-align: right;">42</td>
	<td style="text-align: right;">2014</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">69</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/69_venus.jpg" ></td>
	<td>Meffert</td>
	<td>Venus Cube (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2015</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">70</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/70_ghostHedgehog.jpg" ></td>
	<td>Meffert</td>
	<td>Ghost Hedgehog Silver Metalized (3x3)</td>
	<td>Ghost</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2016</td>
	<td data-value="3" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">71</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/71_MetalisedEgg3.jpg" ></td>
	<td>Meffert</td>
	<td>Metalized Egg No.4 (3x3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2015</td>
	<td data-value="3" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">72</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/72_Dodecahedron.jpg" ></td>
	<td>LanLan</td>
	<td>Dodecahedron (2x2)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">8</td>
	<td style="text-align: right;">2015</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">73</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/73_SkewbRhombicD.jpg" ></td>
	<td>LanLan</td>
	<td>Skewb Rhombic Dodecahedron</td>
	<td>Skewb</td>
	<td style="text-align: right;">14</td>
	<td style="text-align: right;">2014</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">74</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/74_Rex.jpg" ></td>
	<td>LanLan</td>
	<td>Rex</td>
	<td>Corner Turning</td>
	<td style="text-align: right;">42</td>
	<td style="text-align: right;">2013</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">75</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/75_Mixup.jpg" ></td>
	<td>WitEden</td>
	<td>Mixup (3x3)</td>
	<td>Mixup</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2014</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">76</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/76_Gem5.jpg" ></td>
	<td>DaYan</td>
	<td>Gem V5</td>
	<td>Corner Turning</td>
	<td style="text-align: right;">32</td>
	<td style="text-align: right;">2014</td>
	<td data-value="3" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">77</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/77_Pyramid.jpg" ></td>
	<td>ShengShou</td>
	<td>Pyramorphix</td>
	<td>Morphix</td>
	<td style="text-align: right;">8</td>
	<td style="text-align: right;">2015</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">78</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/78_SkewbCurvy.jpg" ></td>
	<td>LanLan</td>
	<td>Skewb Curvy Rhombohedron</td>
	<td>Skewb</td>
	<td style="text-align: right;">14</td>
	<td style="text-align: right;">2013</td>
	<td data-value="2.49" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">79</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/79_SkewbGhost.jpg" ></td>
	<td>FangGe</td>
	<td>Skewb Ghost</td>
	<td>Ghost</td>
	<td style="text-align: right;">14</td>
	<td style="text-align: right;">2017</td>
	<td data-value="3.1" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">80</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/80_Dino.jpg" ></td>
	<td>ShengShou</td>
	<td>Dino</td>
	<td>Corner Turning</td>
	<td style="text-align: right;">12</td>
	<td style="text-align: right;">2017</td>
	<td data-value="0.5" style="text-align: center;"><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">81</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/81_caseCube.jpg" ></td>
	<td>DianSheng</td>
	<td>Case Cube</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2014</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">82</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/82_dianshengBlade.jpg" ></td>
	<td>DianSheng</td>
	<td>Blade</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2013</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">83</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/83_hexagonalShield.jpg" ></td>
	<td>DianSheng</td>
	<td>Shield</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2014</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">84</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/84_HexagonalDipyramid.jpg" ></td>
	<td>DianSheng</td>
	<td>Hexagonal Dipyramid (3X3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2013</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">85</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/85_4Corner.jpg" ></td>
	<td>DianSheng</td>
	<td>4-Corner Hexagonal Dipyramid (3X3)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2014</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">86</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/86_UFO.jpg" ></td>
	<td>DianSheng</td>
	<td>UFO</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2014</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">87</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/87_HexagonalDipyramid4.jpg" ></td>
	<td>DianSheng</td>
	<td>Hexagonal Dipyramid (4X4)</td>
	<td>NxNxN Mod</td>
	<td style="text-align: right;">56</td>
	<td style="text-align: right;">2014</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">88</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/88_MegaminxBall.jpg" ></td>
	<td>Calvin</td>
	<td>Traiphum Megaminx Ball</td>
	<td>Minx</td>
	<td style="text-align: right;">62</td>
	<td style="text-align: right;">2014</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">89</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/89_Master Skewb.jpg" ></td>
	<td>LanLan</td>
	<td>Master Skewb</td>
	<td>Skewb</td>
	<td style="text-align: right;">50</td>
	<td style="text-align: right;">2013</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">90</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/90_CurvyCopter.jpg" ></td>
	<td>LanLan</td>
	<td>Curvy Copter</td>
	<td>Edge Turning</td>
	<td style="text-align: right;">44</td>
	<td style="text-align: right;">2013</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">91</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/91_332.jpg" ></td>
	<td>LanLan</td>
	<td>3x3x2</td>
	<td>Cuboid</td>
	<td style="text-align: right;">18</td>
	<td style="text-align: right;">2013</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">92</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/92_339II.jpg" ></td>
	<td>WitEden</td>
	<td>Cubic 3x3x9 II</td>
	<td>Bandaged</td>
	<td style="text-align: right;">78</td>
	<td style="text-align: right;">2014</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">93</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/93_DinoSkewb.jpg" ></td>
	<td>DaYan</td>
	<td>Dino Skewb</td>
	<td>Corner Turning</td>
	<td style="text-align: right;">28</td>
	<td style="text-align: right;">2014</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">94</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/94_Tangram.jpg" ></td>
	<td>DaYan</td>
	<td>Tangram</td>
	<td>Pentahedron</td>
	<td style="text-align: right;">20</td>
	<td style="text-align: right;">2016</td>
	<td data-value="1.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">95</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/95_223.jpg" ></td>
	<td>QiYi</td>
	<td>2x2x3</td>
	<td>Cuboid</td>
	<td style="text-align: right;">12</td>
	<td style="text-align: right;">2017</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">96</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/96_CurvyMosaic.jpg" ></td>
	<td>LanLan</td>
	<td>Curvy Mosaic</td>
	<td>Corner Turning</td>
	<td style="text-align: right;">44</td>
	<td style="text-align: right;">2018</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">97</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/97_234.jpg" ></td>
	<td>mf8</td>
	<td>Full Function 2x3x4</td>
	<td>Cuboid</td>
	<td style="text-align: right;">24</td>
	<td style="text-align: right;">2013</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">98</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/98_Pentahedron5L.jpg" ></td>
	<td>mf8+DaYan</td>
	<td>Pentahedron 5 Layers</td>
	<td>Pentahedron</td>
	<td style="text-align: right;">30</td>
	<td style="text-align: right;">2012</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">99</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/99_334.jpg" ></td>
	<td>Cube4You</td>
	<td>3x3x4</td>
	<td>Cuboid</td>
	<td style="text-align: right;">34</td>
	<td style="text-align: right;">2014</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">100</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/100_12AxisDodeca.jpg" ></td>
	<td>LanLan</td>
	<td>Crazy Comet</td>
	<td>Edge Turning</td>
	<td style="text-align: right;">68</td>
	<td style="text-align: right;">2016</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">101</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/101_TangramExtreme.jpg" ></td>
	<td>DaYan</td>
	<td>Tangram Extreme</td>
	<td>Pentahedron</td>
	<td style="text-align: right;">44</td>
	<td style="text-align: right;">2017</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">102</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/102_SQ1Qifa.jpg" ></td>
	<td>QiYi</td>
	<td>QiFa S (Square-1)</td>
	<td>Square</td>
	<td style="text-align: right;">18</td>
	<td style="text-align: right;">2018</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">103</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/103_OctahedralMixup.jpg" ></td>
	<td>WitEden</td>
	<td>Mike Armbrust Octahedral Mixup</td>
	<td>Mixup</td>
	<td style="text-align: right;">50</td>
	<td style="text-align: right;">2018</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">104</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/104_HunterPillow.jpg" ></td>
	<td>Calvin</td>
	<td>2x4x6 Hunter Pillow</td>
	<td>Cuboid</td>
	<td style="text-align: right;">48</td>
	<td style="text-align: right;">2014</td>
	<td data-value="3.01" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">105</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/105_Helicopter.jpg" ></td>
	<td>Z-Cube</td>
	<td>Helicopter V1</td>
	<td>Edge Turning</td>
	<td style="text-align: right;">32</td>
	<td style="text-align: right;">2013</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">106</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/106_345.jpg" ></td>
	<td>mf8</td>
	<td>TomZ Full Function 3x4x5</td>
	<td>Cuboid</td>
	<td style="text-align: right;">54</td>
	<td style="text-align: right;">2014</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">107</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/107_MastermorphixJelly.jpg" ></td>
	<td>QiYi</td>
	<td>Mastermorphix Jelly</td>
	<td>Morphix</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2018</td>
	<td data-value="2.49" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">108</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/108_123rubiks.jpg" ></td>
	<td>Rubiks</td>
	<td>1x2x3</td>
	<td>Cuboid</td>
	<td style="text-align: right;">6</td>
	<td style="text-align: right;">2018</td>
	<td data-value="0.49" style="text-align: center;"><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">109</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/109_Dreidel.jpg" ></td>
	<td>FangGe</td>
	<td>limCube Dreidel 3x3x3</td>
	<td>Hybrid</td>
	<td style="text-align: right;">122</td>
	<td style="text-align: right;">2014</td>
	<td data-value="2.51" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">110</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/110_333SuperMixup.jpg" ></td>
	<td>FangGe</td>
	<td>limCube 3x3x3 Super Mixup</td>
	<td>Mixup</td>
	<td style="text-align: right;">74</td>
	<td style="text-align: right;">2016</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">111</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/111_MultiSkewb.jpg" ></td>
	<td>YuXin</td>
	<td>Multi Skewb</td>
	<td>Hybrid</td>
	<td style="text-align: right;">76</td>
	<td style="text-align: right;">2018</td>
	<td data-value="2.51" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">112</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/112_SonMum.jpg" ></td>
	<td>mf8</td>
	<td>Son-Mum</td>
	<td>Mixup</td>
	<td style="text-align: right;">74</td>
	<td style="text-align: right;">2017</td>
	<td data-value="2.51" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">113</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/113_Grilles.jpg" ></td>
	<td>mf8</td>
	<td>Grilles II</td>
	<td>Hybrid</td>
	<td style="text-align: right;">98</td>
	<td style="text-align: right;">2018</td>
	<td data-value="2.51" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">114</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/114_EliteSkewb.jpg" ></td>
	<td>mf8</td>
	<td>Elite Skewb</td>
	<td>Skewb</td>
	<td style="text-align: right;">110</td>
	<td style="text-align: right;">2018</td>
	<td data-value="2.51" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">115</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/115_443.jpg" ></td>
	<td>Ayi</td>
	<td>Full Function 4x4x3</td>
	<td>Cuboid</td>
	<td style="text-align: right;">44</td>
	<td style="text-align: right;">2014</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">116</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/116_554.jpg" ></td>
	<td>Ayi</td>
	<td>Full Function 5x5x4</td>
	<td>Cuboid</td>
	<td style="text-align: right;">82</td>
	<td style="text-align: right;">2011</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">117</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/117_PillowedPyramorphix.jpg" ></td>
	<td>QiYi</td>
	<td>Pillowed Pyramorphix</td>
	<td>Morphix</td>
	<td style="text-align: right;">8</td>
	<td style="text-align: right;">2018</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">118</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/118_221.jpg" ></td>
	<td>Z-Cube</td>
	<td>2x2x1</td>
	<td>Cuboid</td>
	<td style="text-align: right;">4</td>
	<td style="text-align: right;">2017</td>
	<td data-value="0.1" style="text-align: center;"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">119</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/119_335c4u.jpg" ></td>
	<td>Cube4You</td>
	<td>3x3x5</td>
	<td>Cuboid</td>
	<td style="text-align: right;">42</td>
	<td style="text-align: right;">2010</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">120</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/120_224.jpg" ></td>
	<td>WitEden</td>
	<td>2x2x4</td>
	<td>Cuboid</td>
	<td style="text-align: right;">16</td>
	<td style="text-align: right;">2017</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">121</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/121_446.jpg" ></td>
	<td>Calvin</td>
	<td>4x4x6</td>
	<td>Cuboid</td>
	<td style="text-align: right;">80</td>
	<td style="text-align: right;">2012</td>
	<td data-value="2.1" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">122</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/122_Square2.jpg" ></td>
	<td>Calvin</td>
	<td>Square-2</td>
	<td>Square</td>
	<td style="text-align: right;">26</td>
	<td style="text-align: right;">2012</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">123</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/123_Cubic337.jpg" ></td>
	<td>WitEden</td>
	<td>Cubic 3x3x7</td>
	<td>Bandaged</td>
	<td style="text-align: right;">66</td>
	<td style="text-align: right;">2011</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">124</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/124_Roadblock1.jpg" ></td>
	<td>WitEden</td>
	<td>Roadblock:Ⅰ</td>
	<td>Bandaged</td>
	<td style="text-align: right;">62</td>
	<td style="text-align: right;">2011</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">125</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/125_Roadblock2.jpg" ></td>
	<td>WitEden</td>
	<td>Roadblock:ⅠⅠ</td>
	<td>Bandaged</td>
	<td style="text-align: right;">66</td>
	<td style="text-align: right;">2011</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">126</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/126_Roadblock3.jpg" ></td>
	<td>WitEden</td>
	<td>Roadblock:ⅠⅠⅠ</td>
	<td>Bandaged</td>
	<td style="text-align: right;">78</td>
	<td style="text-align: right;">2013</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">127</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/127_335.jpg" ></td>
	<td>WitEden</td>
	<td>3x3x5</td>
	<td>Cuboid</td>
	<td style="text-align: right;">42</td>
	<td style="text-align: right;">2011</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">128</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/128_QiYiPyramorphix.jpg" ></td>
	<td>QiYi</td>
	<td>Pyramorphix</td>
	<td>Morphix</td>
	<td style="text-align: right;">8</td>
	<td style="text-align: right;">2018</td>
	<td data-value="1" style="text-align: center;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">129</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/129_666.jpg" ></td>
	<td>YuXin</td>
	<td>LittleMagic (6x6)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">152</td>
	<td style="text-align: right;">2018</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">130</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/130_445.jpg" ></td>
	<td>Ayi</td>
	<td>Full Function 4x4x5</td>
	<td>Cuboid</td>
	<td style="text-align: right;">68</td>
	<td style="text-align: right;">2011</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">131</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/131_Hexaphobic.jpg" ></td>
	<td>ShengShou</td>
	<td>Hexaphobic</td>
	<td>Morphix</td>
	<td style="text-align: right;">152</td>
	<td style="text-align: right;">2019</td>
	<td data-value="2.5" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">132</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/132_QiFan.jpg" ></td>
	<td>QiYi</td>
	<td>QiFan S (6x6)</td>
	<td>NxNxN</td>
	<td style="text-align: right;">152</td>
	<td style="text-align: right;">2019</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
<tr>
	<td style="text-align: right;font-weight: bold;">133</td>
	<td style="width: 82px;padding: 1px;"><img src="/assets/images/cubes/133_Rediminx.jpg" ></td>
	<td>MoYu</td>
	<td>Rediminx</td>
	<td>Corner Turning</td>
	<td style="text-align: right;">62</td>
	<td style="text-align: right;">2019</td>
	<td data-value="2" style="text-align: center;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
</tr>
